body {
  margin: 0;
}

.container {
  background-color: #482931;
  height: 100%;
  overflow: hidden;
  display: flex;
  background-image: url('../img/component/cardPlate.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  position: absolute;
  transition: left 2s ease, transform 2s ease;
  width: 200px;
  height: 300px;
  text-align: center;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2); /* 오른쪽 위에 밝은 그림자와 왼쪽 아래 그림자 */
  border-radius: 15px;
}

.card-shuffle {
  position: absolute;
  transition: left 2s ease, transform 2s ease;
  width: 200px;
  height: 300px;
  text-align: center;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2); /* 오른쪽 위에 밝은 그림자와 왼쪽 아래 그림자 */
  border-radius: 15px;
}

.card-shuffle:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.modal {
  margin: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-bg {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vh;
  height: 40vh;
  background-image: url('../img/component/speechBubble.jpg');
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

#modal-message {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
}

.modal-button {
  position: absolute;
  top: 75%;
  left: 80%;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.modal-button:hover {
  filter: brightness(0.5);
}

.button-wrapper {
  display: flex;
  position: absolute;
  top: 70%;
  left: 35%;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.shuffle-button {
  cursor: pointer;
  background-color: #727272;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  color: white;
  transition: filter 0.3s ease;
  margin: 10px;
  border-radius: 10px;
}

.shuffle-button:hover {
  filter: brightness(0.8);
}

.fixed {
  position: fixed;
  width: 100%;
}

.scroll {
  width: 100%;
  position: absolute;
}

body::-webkit-scrollbar {
  display: none;
}

.current-card {
  cursor: pointer;
  transition: transform 2s ease, border 2s ease, left 2s ease;
  border: 1.5px solid gold;
  transform: scale(1.1);
}

.selected-card {
  position: absolute;
  transition: all 2s ease;
  width: 200px;
  height: 300px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: none;
}

.scroll-card {
  transform: translateY(1500px);
}

@media all and ((min-width: 768px) and (max-width: 1023px)),
  ((min-height: 541px) and (max-height: 640px)) {
  .card,
  .selected-card {
    width: 150px;
    height: 225px;
    border-radius: 15px;
  }
}
/* 해상도 ~ 767px */
@media all and (min-width: 576px) and (max-width: 767px),
  ((min-height: 420px) and (max-height: 540px)) {
  .card,
  .selected-card {
    width: 100px;
    height: 150px;
    border-radius: 10px;
  }
}
/* 해상도 ~ 767px */
@media all and (max-width: 575px), (max-height: 419px) {
  .card,
  .selected-card {
    width: 50px;
    height: 75px;
    border-radius: 5px;
  }
}
@media (max-width: 768px) {
  .modal-button {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .modal-button {
    width: 15px;
    height: 15px;
    top: 70%;
    left: 75%;
  }
}

@media all and ((min-width: 768px) and (max-width: 1023px)),
  ((min-height: 541px) and (max-height: 640px)) {
  .shuffle-button {
    padding: 15px 32px;
    font-size: 16px;
  }
}
/* 해상도 ~ 767px */
@media all and (min-width: 576px) and (max-width: 767px),
  ((min-height: 420px) and (max-height: 540px)) {
  .shuffle-button {
    padding: 11.25px 24px;
    font-size: 12px;
  }
}
/* 해상도 ~ 767px */
@media all and (max-width: 575px), (max-height: 419px) {
  .shuffle-button {
    padding: 8.5px 18px;
    font-size: 9px;
  }
}
